$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @font-face {
//   font-family: 'Diavlo Light';
//   src: url('Diavlo_LIGHT_II_37.otf');
// }

$thin-border: 1px solid #000;

body {
  margin: 10px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-weight: bold;
}

legend {
  font-weight: bold;
}

footer {
  margin-top: 50px;
}
//
// input {
//   margin: 10px;
// }

ul {
  list-style: none;
}

.logo {
  width: 60%;
}

.csa-form {
  font-size: 20px;
}

// .home {
//   @font-face {
//     font-family: 'Diavlo Light';
//     src: url('Diavlo_LIGHT_II_37.otf');
//   }
// }

.csa-share-page,
.floral-design-page {
  margin: 0 10%;
}

.big-pic {
  width: 60%;
}

.home-page {
  margin: 0 10%;
}

.account-forms {
  margin: 0 10%;
  text-align: center;
}

.text-content {
  text-align: center;
}

.navbar-brand {
  height: 100px;
}

.sign-in {
  display: inline;
  position: absolute;
  float: right;
}

.reveal {
  margin: 15px;
}

.table {
  margin: auto;
}
